<%- include("partials/header") %>

<div class="container">
	<h4>What is speedChart?</h4>
		<p>
		speedChart is a website created for competitive swimmers who have a goal time that they want to achieve and train for in practice. speedChart allows swimmers to enter in their goal time. speedChart will then calculate the percentages of the goal time (between 60% and 100%) that can then be used for training.
		</p>
	<h4>How Can I Use This Chart at the Pool?</h4>
		<p>
		Can't remember your chart during practice? No problem. speedChart has a print button which allows you to print your chart and bring it to the pool.
		</p>
	<h4>Can I Expect More Things to Come From speedChart?</h4>
		<p>
		Yes! speedChart is currently working on implementing Authentication and a Database which will allow for User Login/Signup as well as the ability to save your charts. Stay Tuned!
		</p>
</div>







<%- include("partials/footer") %>
