<%- include("partials/header") %>

<div class="jumbotron d-flex flex-column align-items-center">
		<h1 class="display-4">Welcome to speedChart</h1>
  		<p class="lead">Train Effectively</p>
		<hr class="my-4">
		<p>Create your personal training chart and reach your goals today</p>
		<p class="lead">
		<a class="btn btn-primary btn-lg" href="/form" role="button">Enter a Time</a>
  		</p>
</div>

<%- include("partials/footer") %>

